*,
*:before,
*:after {
  box-sizing: inherit;
}

*, html, body {
    padding: 0;
    margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #F8FAF7 !important;
}

main {
    min-height: 700px;
}

.landing-greetings, .contact-greetings {
    /* font-family: 'Marck Script', cursive; */
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 45px;
}
.landing-carousel{
    text-align: center;
}

.comp-contacts > ul {
    list-style: none;
}
.agent-contacts{
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.agent-box {
    margin: 40px;
    background: #fff;
    border: #D9E5D6 solid 1px;
    border-radius: 10px;
    padding: 30px;
    min-height: 700px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.agent {
    margin-top: 40px;
    
}

                    /* Media Queries */

/* Desktops */
@media (min-width: 1281px) {
    .comp-contacts {
        margin: 15px 250px 15px 250px;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02), 0 10px 10px rgba(0, 0, 0, 0.06);
    }
    .comp-contacts:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        /* transition: cubic-bezier(0.47, 0, 0.745, 0.715); */
        transition: all 0.5s ease-in-out;
    }
}

/* Laptops to Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .comp-contacts {
        margin: 15px 250px 15px 250px;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 20px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .comp-contacts {
        /* text-align: center; */
        margin: 15px 150px 15px 150px;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 20px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .comp-contacts {
        /* text-align: center; */
        margin: 10px 0 20px 0;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 10px; 
    }
}

/* Phones */
@media (min-width: 481px) and (max-width: 767px) {
    .comp-contacts {
        text-align: center;
        margin: 10px 0 20px 0;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 0; 
    }
}

@media (min-width: 320px) and (max-width: 480px) { 
    .comp-contacts {
        /* text-align: center; */
        margin: 10px 0 20px 0;
        border: #D9E5D6 solid 1px;
        border-radius: 7px;
        padding: 10px; 
    }
}